.signup {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
}

.signup h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}


.signup .signin-link{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.signup .signin-link span{
    color:#4070f4 ;
    font-weight: 600;

    cursor: pointer;
}